{%extends 'partials/base.html' %}
{% load static %}
{% block content%}

<div class="hero-wrap hero-bread" style="background-image: url('/static/assets/images/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
          <h1 class="mb-0 bread">Products</h1>
        </div>
      </div>
    </div>
</div>



<section id="prod_pg" class="pt-4 pb-4 bg_light_1">

    <div class="container-fluid" style="overflow-y : auto">
      <div class="row prod_pg1">
          <div class="col-md-12 col-lg-3" style="height: 600px;overflow-y: auto;">
              <div class="prod_pg1l">
                <div class="prod_pg1l1 bg-white p-4">

                  {% comment %} *************************PRODUCT CATEGORIES********************** {% endcomment %}

                  <h6 class="mb-3">PRODUCT CATEGORIES</h6>
                  {% for p in  categories %}
                  <div class="prod_pg1l1i row">
                  <div class="col-md-10 col-10">
                    <div class="prod_pg1l1il">
                    <input type="checkbox" name="checkbox" data-filter="categories" class="form-check-input filter-checkbox" id="customCheck2" value={{p.id}}>
                  
                      <h6 class="font_14 fw-normal mt-1"><a href="{% url 'core:category_product_list' p.custom_ID %}"><i style="margin-left:10px"></i> {{p.title}}</a></h6>
                    </div>
                  </div>
                  <div class="col-md-2 col-2">
                    <div class="prod_pg1l1ir text-end">
                    <h6 class="d-inline-block bg_light font_13">{{ p.categories.count}}</h6>
                    </div>  
                  </div>
                  </div>
                  {% endfor %}
                  
                </div>
                {% comment %} *************************VENODR********************** {% endcomment %}
                <h6 class="mb-3">VENDORS </h6>
                <div class="row m-0">
                  {% for v in vendors %}
                  <div class="form-check col-md-6 col-6 col-lg-12 mx-2" >
                  <input type="checkbox" name="checkbox" data-filter="vendors" class="form-check-input filter-checkbox" id="customCheck1" value={{v.id}}>
                  <label class="form-check-label mx-2" for="customCheck1"><a href="detail.html" >{{v.title}}</a></label>
                  </div>
                  {% endfor %}
            
                  
                </div>
                {% comment %} *************************FILTER BY PRICE********************** {% endcomment %}
                <div class="prod_pg1l1 bg-white p-4 mt-4">
                  <h6 class="mb-3">FILTER BY PRICE</h6>
                  <input type="range" class="form-range" id="customRange1">
                  <h6 class="mb-0 col_light font_13 mt-3">PRICE: $42 - $530</h6>
                </div>
                
                
                {% comment %} *************************NEW PRODUCT********************** {% endcomment %}

                <div class="prod_pg1l1 bg-white p-4 mt-4">
                  <h6 class="mb-3">NEW PRODUCT</h6>
                  {% for p in new_products %}
                  <div class="prod_pg1l2i row">
                  <div class="col-md-4 col-4">
                  <div class="prod_pg1l2il">
                    <div class="grid clearfix">
                          <figure class="effect-jazz mb-0">
                            <a href="detail.html"><img src="{{p.image.url}}" class="w-100" alt="abc"></a>
                          </figure>
                      </div>
                  </div>
                  </div>
                  <div class="col-md-8 col-8">
                  <div class="prod_pg1l2ir">
                      <span class="col_yell">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </span>
                    <h6 class="text-capitalize mt-2 font_14"><a href="detail.html">{{p.title}}</a></h6>
                    <div class="pricing" >
                      <p class="price"><span class="mr-2 price-dc">₹{{p.old_price}}</span><span>₹</span><span class="price-sale current-product-price{{p.id}}" >{{p.price}}</span></p>
                  </div>
                  </div>
                  </div>
                </div>
                
                {% endfor %}
                </div>
                
              </div>
          </div>
          {% comment %} *************************MAIN PRODUCTS********************** {% endcomment %} 
          <div class="col-md-12 col-lg-9">
            <div class="prod_pg1r">
                <div class="prod_pg1r1 row">
                  <div class="col-md-9">
                    <div class="prod_pg1r1l">
                    <p class="mt-3 mb-0">Showing Products 1-9 Of 10 Result</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="prod_pg1r1r">
                      <select name="categories"  style="height:50px;" class="form-select" required="">
                    <option value="">Relevance</option>
                    <option>Best sellers</option>
                    <option>Name, A to Z</option>
                    <option>Name, Z to A</option>
                    <option>Price, high to low</option>
                    <option>Price, low to high</option>
                    </select>
                    </div>
                  </div>
                </div>
            
            {% comment %} ###################################################################################### {% endcomment %}
            <section class="ftco-section">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-10 mb-5 text-center">
                          <ul class="product-category">
                              <li><a href="#" class="active">All</a></li>
                              <li><a href="#">Vegetables</a></li>
                              <li><a href="#">Fruits</a></li>
                              <li><a href="#">Juice</a></li>
                              <li><a href="#">Dried</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="container">
                    <div class="row">
                    {% for p in products  %}
                      <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                        
                          <a href="{% url 'core:product-detail' p.P_ID %}" class="img-prod"><img class="img-fluid" src="{{p.image.url}}" alt="Colorlib Template">
                            <span class="status">{{p.get_discount}}%</span>
                          
                            <div class="overlay"></div>
                          </a>
                          <div class="text py-3 pb-4 px-3 text-center">
                          <h6><a href="#">{{p.category.title}}</a></h6>
                            <h3><a href="{% url 'core:product-detail' p.P_ID %}">{{p.title}}</a></h3>
                          <span class ="font-small text-muted">By <a href="#">{{p.vendor.title}}</a></span>
                            <div class="d-flex my-3">
                              <div class="pricing" >
                                <p class="price"><span class="mr-2 price-dc">₹{{p.old_price}}</span><span>₹</span><span class="price-sale current-product-price-{{p.id}}">{{p.price}}</span></p>
                              </div>
                            </div>
                          
                          <div class="bottom-area d-flex px-3">
                              <div class="m-auto d-flex">
                                
                                <input type="hidden" value="1"  id="product-quantity" class= " product-quantity-{{p.id}}">
                                <input type="hidden" value="{{p.P_ID}}" class="product-pid-{{p.id}}" >
                                <input type="hidden" value="{{p.image.url}}" class="product-image-{{p.id}}">
                                <input type="hidden" value="{{p.id}}" class=" product-id-{{p.id}}" >
                                <input type="hidden" value="{{p.title}}" class="product-title-{{p.id}}" >
                                
                                <button  class="add-to-cart-btn btn btn buy-now d-flex justify-content-center align-items-center mx-1" data-index="{{p.id}}" >
                                  <span><i class="ion-ios-cart"></i></span>
                                </button>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                  <span><i class="ion-ios-heart"></i></span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    {% endfor %}
                    </div>
                  </div>
                  <!-- <div class="row mt-5">
                <div class="col text-center">
                  <div class="block-27">
                    <ul>
                      <li><a href="#">&lt;</a></li>
                      <li class="active"><span>1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&gt;</a></li>
                    </ul>
                  </div>
                </div>
              </div> -->
              </div>
          </section>




            {% comment %} ###################################################################################### {% endcomment %}
            
            
          
            
          
          </div>
          </div>
      </div>
    </div>

</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
            <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
            <span>Get e-mail updates about our latest shops and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
</section>

    
{% endblock content%}