<div class="container new-cart-list">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<p>There are {{totalcartitems}} products in your cart</p>
					<table class="table">

						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Refresh</th>
								<th>Total</th>
							</tr>
						</thead>

						<tbody>
							ankush
							{% for product_id ,item in cart_data.items %}

							<tr class="text-center">
								<td class="product-remove"> <a class="btn btn-secondary delete-product"
										data-product="{{product_id}}" style="border-radius:0;color:white" >
										<span class="fa fa-remove" style="font-size:13px;"></span>
									</a> 
								 </td>

								<td class="image-prod">
									<div class="img" style="background-image: url('{{ item.image }}');"></div>
								</td>

								<td class="product-name">
									<p><a href="{% url 'core:product-detail' item.pid %}"
											class="btn btn py-3 px-4">{{item.title}} </a></p>

									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>


								<td class="price"><span>₹</span>{{item.price|floatformat:2}}</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="number" name="quantity" class="w-25 text-center quantity-input"
											value="{{item.qty}}" min="1" max="100" style="margin-left:80px">
									</div>
								</td>

								<td class="action text-center" data-title="refresh">
									<a href="#" class="text-body">
										<i class="fa fa-refresh" style="font-size:24px;"></i>
									</a>
								</td>
								
								<td class="total-price ">₹{% widthratio item.price 1 item.qty%}</td>
                            
								 

							</tr><!-- END TR-->

							{% endfor %}

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
